.idea
first.xlsx
20211218 leeds-arsenal 1 eng 1080p.mkv
Project Discrete math-objectives.docx
~$Book1.xlsx
 __pycache__
__pycache__/main.cpython-310.pyc
__pycache__/find_good_cliques.cpython-310.pyc
__pycache__/most_important_player.cpython-310.pyc
Math 225-Project-Research.docx
__pycache__/most_important_player.cpython-310.pyc
__pycache__/most_possible_passes.cpython-310.pyc